# dependencies
/node_modules

# testing
/coverage
coverage
coverage.json

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# Solidity
typechain
typechain-types

# Hardhat files
cache
artifacts

.openzeppelin
